<div class="div"  [ngClass]="isLoading$? 'd-block': 'd-none'" style="width:100vw;height:100vh; border: 2px solid black;">
    <app-loading></app-loading>
</div>  

<div class="complete-about-container" [ngClass]="!isLoading$? 'd-block': 'd-none'">
    <app-navbar></app-navbar>
    <div class="p-5">
        <div class="row">
            <div class="col-12 mb-4 mb-md-0 col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/img/profile.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Shaik Roshan Nabi</h5>
                      <p class="card-text">Assistant Developer and Quality Tester of HouseMate.</p>
                      <a class="card-link" href="https://www.instagram.com/roshan3313/"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;roshan3313</a>
                      <hr>
                      <a class="card-link" href="https://www.facebook.com/roshan.nabi.3"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;Roshan Nabi</a>
                      <hr>
                      <a class="card-link" href="https://www.linkedin.com/in/roshan-nabi-499b30188" ><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp;Roshan Nabi</a>  
                      <hr>
                      <a class="card-link" ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;roshannabi54@gmail.com</a>  
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 mb-md-0 col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/img/profile.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Konda Sharan Sai Reddy</h5>
                      <p class="card-text">Analyst and Developer of HouseMate.</p>
                      <a class="card-link" href="https://www.instagram.com/sharan_konda/"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;sharan_konda</a>
                      <hr>
                      <a class="card-link" href="https://www.facebook.com/Danian.Beast"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;Sharan Reddy</a>
                      <hr>
                      <a class="card-link" href="https://www.linkedin.com/in/sharan-konda-90b3a6193/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp;Sharan Reddy</a>  
                      <hr>
                      <a class="card-link"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;sharansaikonda99@gmail.com</a>  
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 mb-md-0 col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/img/profile.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Chityala Raju</h5>
                      <p class="card-text">Database Engineer and Quality Tester of HouseMate.</p>
                      <a class="card-link" href="https://www.instagram.com/raju___chityala/"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;raju___chityala</a>
                      <hr>
                      <a class="card-link" href="https://www.facebook.com/rajuyadav.chityala.9"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;Raju Chityala</a>
                      <hr>
                      <a class="card-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp;No LinkedIn Profile</a>  
                      <hr>
                      <a class="card-link" ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;rajuchityala11@gmail.com</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
