<div class="div"  [ngClass]="isLoading$? 'd-block': 'd-none'" style="width:100vw;height:100vh; border: 2px solid black;">
  <app-loading></app-loading>
</div>
<app-navbar [ngClass]="!isLoading$? 'd-block': 'd-none'"></app-navbar>
<div class="container complete-items-container" [ngClass]="!isLoading$? 'd-block': 'd-none'">
    <div class="p-md-4">
      <div class="row">
        <div class="col-12 p-2">
          <select class="custom-select category-select" style="width:100%;" #categoryRef>
          </select>
        </div>

        <div class="col-12 p-2">
          <select class="custom-select item-select" style="width:100%;" #itemRef>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <button type="button" name="additem" class="btn btn-lg btn-block bluebutton" (click)="openAddItem()" ><b>Register New Item</b></button>
        </div>
        <div class="col mt-4">
          <button type="button" name="edititem" class="btn btn-lg btn-block bluebutton" [disabled]="categoryRef.value==0 || itemRef.value==0" (click)= "openEditItem()"><b>Edit/View Item</b></button>
        </div>
        <div class="col mt-4">
            <button type="button" name="deleteitem" class="btn btn-lg btn-block btn-danger" [disabled]="categoryRef.value==0 || itemRef.value==0" (click)= "openDeleteItem()"><b>Delete Item</b></button>
        </div>
      </div>
        
      <div class="row">
        <div class="col mt-4">
            <button type="button" name="addstock" class="btn btn-lg btn-block bluebutton" [disabled]="categoryRef.value==0 || itemRef.value==0" (click)="openAddOrRemoveStock()" ><b>Add/Remove Stock</b></button>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-4 justify-content-center">
      </div><mat-slide-toggle [(ngModel)]="checked" (change)="toggleDisabled()"><b>Stock Usage {{checked?'Disabled':'Enabled'}}</b></mat-slide-toggle> &nbsp;
      </div>
    
</div>