<div class="container p-2" style="overflow: scroll; height:250px;">
    <p>
        We as a team wanted to provide a solution to all the people who wanted help in keeping track of items at home and make their shopping easier. 
    </p>
    
    <p>
        <b>HouseMate</b> is all about keeping track of the items of house and based on a business logic, we remind you of the items you need
        at regular intervals and also help you estimate the additional stock needed for a specified number of days. 
    </p>
</div>