
<div class="login-container p-4">
    <form autocomplete="off" ngNativeValidate>
        
        <div class="input-group mt-2">
            <div class="input-group-prepend d-none d-md-block">
                <span class="input-group-text">Email </span>
            </div>
            <input name="email" type="email" class="form-control" placeholder="Enter Email" [disabled]="(isOTPSent && isOTPVerified)" [(ngModel)]="fpSettings.email">
        </div>

        <div class="input-group mt-2">
            <div class="input-group-prepend d-none d-md-block">
                <span class="input-group-text">OTP </span>
            </div>
            <input name="otp" type="text" class="form-control" [ngClass]="isOTPVerified===false ? 'invalid-form-control': null" placeholder="Enter OTP" [disabled]="!isOTPSent || (isOTPSent && isOTPVerified)" #otp>
        </div>
        
        <div class="row">
            <div class="col mt-4">
                <button type="button" name="sendotp" class="btn btn-lg btn-block bluebutton" (click)="generateOTP()"><b>{{isOTPSent ? 'Regenerate' : 'Generate'}} OTP</b></button>
            </div>
            <div class="col mt-4">
                <button type="button" name="verifyotp" class="btn btn-lg btn-block bluebutton" [disabled]="!isOTPSent" (click)="verifyOTP(otp.value)"><b>Verify OTP</b></button>
            </div>
        </div>

        <div class="input-group mt-2">
            <div class="input-group-prepend d-none d-md-block">
                <span class="input-group-text">New Password </span>
            </div>
            <input name="password" type="password" (click)="explainPassword()" [disabled] = "!isOTPVerified" [ngClass]="isPassValid===false ? 'invalid-form-control': null" class="form-control" placeholder="Enter Password" [(ngModel)]="pass"> 
        </div>

        <div class="input-group mt-2">
            <div class="input-group-prepend d-none d-md-block">
                <span class="input-group-text">Confirm Password </span>
            </div>
            <input name="confpassword" [disabled] = "!isOTPVerified" [ngClass]="isPassValid===false ? 'invalid-form-control': null" type="password" class="form-control" placeholder="Enter Password Again" [(ngModel)]="confpass"> 
        </div>
        
        <div class="row">
            <div class="col mt-4">
                <button type="button" name="button" class="btn btn-lg btn-block bluebutton" [disabled]="!isOTPSent || !isOTPVerified" (click)="onChangePassword()"><b>Change Password</b></button>
            </div>
        </div>
        
        <div class="row">
            <div class="col mt-4">
                <button type="button" name="goback" class="btn btn-lg btn-block bluebutton" (click)="gotoLogin()"><b>Back to Login</b></button>
            </div>
        </div>
    </form>
</div>

<ng-template #template>
    <div class="modal-header" style="background-color: #05386B;color: white;">
      <h4 class="modal-title pull-left ">Alert.</h4>
      <button type="button" class="close pull-right" style="color:white;" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body " style="background-color: #5CDB95;color: #05386B;">
      <b>{{modalbody}}</b>
    </div>
</ng-template>